h1 {
  text-align: center;
  color: teal;
  font-family: sans-serif;
}

p {
  color: #7f5539;
  font-family: arial;
  text-align: justify;
}

ol {
  font-family: "Century Gothic", italic;
  color: #540b0e;
}
